/* style.css */

* {margin: 0px; padding: 0px;}

body {
    font-family: 'Lexend Deca';
    background-color: #fff;
    margin-top: 50px;
    color: #222;
}

h1 {
    font-family: 'Lexend Deca';
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

canvas {
    border: 2px solid #222; 
    border-radius: 50%;
}

button {
    margin: auto;
    margin-top: 10px;
    padding: 10px 10px;
    font-family: 'Lexend Deca';
    font-weight: bold;
    background: #eee;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    -webkit-transition: background-color 300ms linear;
        -ms-transition: background-color 300ms linear;
            transition: background-color 300ms linear;
}

button:hover {
    cursor: pointer;
    background: #ddd;
}

p {
    font-family: 'Lexend Deca';
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a:link {text-decoration: none;}
a:link:hover {text-decoration: underline;}
.sources {margin: 5px 0px; font-size: 0.8em;}
